@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container { padding: 0px; }

@media (max-width: 599px) {
    .container { background-color: lightblue; }
    .body-wrapper { width: 95%;}
}

@media (min-width: 600px) and (max-width: 1199px) {
    .container { background-color: lightgreen; }
    .body-wrapper { width: 95%;}
}

@media (min-width: 1200px) {
    .container { background-color: lightcoral; }
    .body-wrapper { width: 80%;}
}