@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquare";
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 599px) {
    .body-wrapper { width: 95%;}
    .button-justify { justify-content: space-around;}
}

@media (min-width: 600px) and (max-width: 1199px) {
    .body-wrapper { width: 95%;}
    .button-justify { justify-content: center;}
}

@media (min-width: 1200px) {
    .body-wrapper { width: 80%;}
    .button-justify { justify-content: end;}
}